Lab2/Inicio/Web References/tmedio/TiempoMedio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Dedicaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DedicacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DedicacionesResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DedicacionesSoapIn">
    <wsdl:part name="parameters" element="tns:Dedicaciones" />
  </wsdl:message>
  <wsdl:message name="DedicacionesSoapOut">
    <wsdl:part name="parameters" element="tns:DedicacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="TiempoMedioSoap">
    <wsdl:operation name="Dedicaciones">
      <wsdl:input message="tns:DedicacionesSoapIn" />
      <wsdl:output message="tns:DedicacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TiempoMedioSoap" type="tns:TiempoMedioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Dedicaciones">
      <soap:operation soapAction="http://tempuri.org/Dedicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TiempoMedioSoap12" type="tns:TiempoMedioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Dedicaciones">
      <soap12:operation soapAction="http://tempuri.org/Dedicaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiempoMedio">
    <wsdl:port name="TiempoMedioSoap" binding="tns:TiempoMedioSoap">
      <soap:address location="https://serviciowebtiempomedio.azurewebsites.net/TiempoMedio.asmx" />
    </wsdl:port>
    <wsdl:port name="TiempoMedioSoap12" binding="tns:TiempoMedioSoap12">
      <soap12:address location="https://serviciowebtiempomedio.azurewebsites.net/TiempoMedio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>